<!DOCTYPE html>
<html>
<head>
  <title>Forgot Password</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='icons/icon.jpeg') }}">
</head>
<body>
  <div id="bg-layer"></div>
  <button id="color"><i class="fa-solid fa-brush"></i></button>
  <div class="container" style="margin-top: 20vh;">
    <center><h2>Reset Password</h2></center>
    <form method="POST" class="auth-form">
      <input type="email" name="email" placeholder="Your Email" required>

      <div class="role-selection">
        <input type="radio" id="forgot-auctioneer" name="role" value="auctioneer" required>
        <label for="forgot-auctioneer">Auctioneer</label>
        <input type="radio" id="forgot-bidder" name="role" value="bidder" required>
        <label for="forgot-bidder">Bidder</label>
      </div>
      <button type="submit">Send Reset Link</button>
    </form>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
